body{
    width: 90%;
    height:100vh;
    margin:0px auto;
}
a{
    text-decoration: none;
    padding: 0px 10px;
}

.blog-container{
    border: solid 1px white;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    padding:10px;
    background-color: white;
}
.title{
    display:flex;
    align-items: baseline;
}

.heading{
    font-size: large;
}
.blog-description{
    color:grey;
    font-size: small;
}
.content{
    padding: 10px 20px;
}
.blogs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2979FF;
    border-radius: 10px;
}
.head a{
    color:white;
    padding: 2px 10px;
    border-radius: 5px;
}
.head a:hover{
    background-color:#304FFE;
}
.head,.sub-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header{
    background-color: #2979FF;
    color:white;
    padding:0px 10px;
}
.nav-right,.nav-left{
    display: flex;
    align-items: center;
}
.register-form{
    text-align: center;
}
.nav-right>span{
    font-size: smaller;
}
.nav-right .username{
    font-size: large;
}
footer{
    position: fixed;
    bottom: 0px;
    margin:0px 40%;
    min-width: 200px;
}
.btn{
    color:white;
    font-weight: bold;
    border:1px white solid;
    padding:5px;
    border-radius: 5px;
    margin: 10px;
}
.primary{
     background-color: #F50057;
    color:white;
}
.danger{
    background-color: #f44336;
    color:white;
}
.simple{
    background-color: #2979FF;
    color:white;
}
.primary:hover{
     background-color: #C2185B;
}
.danger:hover{
    background-color: #BF360C;
}
.simple:hover{
    background-color: #304FFE;
}

.right-half {
    display: flex;
}

header form {
    display: flex;
    align-items: center;
}

section form {
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 150px 400px;
    align-items: center;
}

section form p {
    min-width:150px;

}

section form label, form input, form textarea {
    margin:5px 10px;
}

section form textarea {
    width:100%;
    min-height: 150px;
}

section form label {
    text-align: left;
}

.flash{
    color:red;
}
.card{
    width:500px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin:20px auto;
}

.error{
    background-color: lightcoral;
    border:2px solid red;
}

#search-form{
    display:flex;
    justify-content: right;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .right-half {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 640px){
    .head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    .current-user{
        display: none;
    }
    .nav-right{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    form{
        width: 100%;
    }
    #search-form{
        margin: 0px auto;
    }
    
}