<html>
  <head>
      <meta name = "viewport" content = "width=device-width,initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Zibu </title>
    {% else %}
    <title>Zibu</title>
    {% endif %}
      <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  </head>
  <body>
    <header class="head">
        <span class="nav-left">
            <div class="title">
                <h1>Zibu</h1>
                <span id='tagline'>&nbspwhere blogs heal the minds...</span>
            </div>
        </span>
        <span class="right-half">
        <span class="search">
            <form action="/search" method="POST">
                {{searchform.text}}
                <p>{{searchform.submit }}</p>
            </form>
        </span>
        <span class="nav-right">
            <a href="/index">Home</a>
            <a href="/about">About</a>
            {% if name %}
                <a href="/mypost">My Posts</a>
            <span class="current-user"> logged in as <span class="username" >{{name}}</span> </span><a href="/logout">Logout</a>
            {% else %}
              <a href="/register">Register</a>
              <a href="/login" class="btn primary">Login</a>
            {% endif %}
        </span>
        </span>

    </header>
    <hr>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer class="footer">
            © Zibu.com 2018
    </footer>
  </body>
</html>
